@import './base.css';

a,
.green {
  text-decoration: none;
  background: var(--gradient-primary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--color-primary);
  transition: 0.4s;
  padding: 3px;
  font-weight: 600;
}

@media (hover: hover) {
  a:hover {
    background: var(--gradient-secondary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(-1px);
  }
}
